<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('partials/header.html') %>
    <!-- <link rel="stylesheet" href="/css/estilos_index.css"> -->
</head>

<body>
    <div class="container">
        <h1>Hojas de vida</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- <th>N°</th> -->
                    <th>Codigo del tutor</th>
                    <th>Perfiles</th>
                    <th>Competencias</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<datos.length; i++) { %>
                    <tr>
                        <!-- <td><%= i+1 %></td> -->
                        <td><%= datos[i].cod_vida %></td>
                        <td><%= datos[i].perfil %></td>
                        <td><%= datos[i].competencias %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/" role="button">Atras</a>
    </div>
</body>
</html>